.section{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.chapter{
    min-height: 100vh;
    align-items: start;
    justify-content: center;
    display: grid;
    grid-template-columns: 61.5vw 1fr;
}

.chapter .text{
    padding: 30px;
}

.hidden{
    background: red;
    -webkit-transition: background 1s ease-in-out;
    -moz-transition: background 1s ease-in-out; 
    transition: background 1s ease-in-out;
}

.text-content{
    max-width: 800px;
}

.scene{
    height: 100vh;
    align-items: flex-end;
    display: flex;
    width: 61.5vw;
}
.scene.sticky{
    position: relative;
    top: 20px;
}

.scene.after{

}

.scene div, .scene object{
    width: 100%;
}

.text{
    position: relative;
}
.text div{
    min-height: 100vh;
}

.scene-start{
    position: absolute;
    top:0;
}
.scene-end{
    position: absolute;
    bottom: 0;
}