*{
    box-sizing: border-box;
}

.full-screen{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 99;
    background: #b4ded4;
}

.full-screen .animation{
    width: 100%;
}

.full-screen .text{
    position: fixed;
    z-index: 100;
    right: 0;
    top: 0;
    bottom: 0;
    width: 40vw;
    padding: 2em;
    opacity: 0;
    transform: translate3d(0, 20%, 0);
    transition: 300ms;
}
.full-screen .text.visible{
    transform: translate3d(0, 0, 0);
    opacity: 1;
    /*animation: fadeIn 300ms ease-in both;*/
}

.full-screen .text.out{
    transform: translate3d(0, -20%, 0);
    opacity: 0;
    /*animation: fadeIn 300ms ease-in both;*/
}

.progress{
    position: fixed;
    left:0;
    top:0;
    background: white;
    z-index: 998;
    height: 5px;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translate3d(0, 20%, 0);
    }
    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

.fader{
    opacity: 0;
    transition: 200ms all ease;
}
.fader.visible{
    opacity: 1;
    animation: pop 0.3s linear 1;
}
.fader.out{
    opacity: 0;
}

.fadeIn{
    opacity: 0;
    transition: 200ms all ease;
}
.fadeIn.visible{
    opacity: 1;
}
.fadeIn.out{
    opacity: 0;
}
