.section{
    min-height: 100vh
}

.hidden{
    background: red;
    -webkit-transition: background 1s ease-in-out;
    -moz-transition: background 1s ease-in-out; 
    transition: background 1s ease-in-out;
}