#bird{
    position: fixed;
    bottom: 200px;
    animation: fly 2s 2s infinite;
}

@keyframes fly {
    0% {     transform: translateY(0); }
    50% {     transform: translateY(20px); }
    100% {     transform: translateY(0); }
}